:root {
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-primary: #CCCC66;
    --color-primary-light: #EFEFCC;
    --color-secondary: #398930;
    --color-secondary-light: #9ec69a;
    --outline: var(--color-dark);
    --bg-primary: var(--color-primary-light);
    --bg-secondary: var(--color-primary);
    --font-body: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    --font-heading: 'Playfair Display', 'Georgia', serif;
    --font-heading-color: var(--color-dark);
    --font-size-body: 1em;
    --font-size-title: 2em;
    --font-size-heading: 1.5em;
    --spacer-primary: 2em;
    --spacer-secondary: 0.5em;
}
