:root {
    --bg-outline: #000000;
    --bg-primary: #EFEFCC;
    --bg-secondary: #CCCC66;
    --bg-tertiary: #FFFFFF;
    --font-body: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    --font-heading: 'Playfair Display', 'Georgia', serif;
    --font-size-body: 1em;
    --font-size-title: 2em;
    --font-size-heading: 1.5em;
    --spacer-primary: 2em;
    --spacer-secondary: 0.5em;
}
